
header  {
    height: 1020px;
    background-image: url("/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.navbar-expand-lg {
    transition: 0.5s;
}

.myicon {
    margin-right: 10px;
}


.banner_part .banner_text {
    display: table;
    width: 100%;
    height: 975px;
    padding-top: 40px;
}

/* line 48, /Applications/MAMP/htdocs/palash/cl/july 2019/july/195 Resume/195 resume html/sass/_banner.scss */
.banner_part .banner_text .banner_text_iner {
    display: table-cell;
    vertical-align: middle;
    padding-top: 10px;
}


.banner_text h5 {
    font-size: 30px;
    color: #fff3cd;
}

.banner_text h1{
    font-size: 80px;
    color: #fff3cd;
}

.about_part {
    background-color: lightcyan;
}

.about_text {
    margin-top: 100px;
}

.skillset {
    height: 40px;
}

.section_tittle {
    margin-bottom: 76px;
}

.section_tittle h2 {
    font-size: 36px;
    color: #0a0b4d;
    line-height: 48px;
    font-weight: 400;
    position: relative;
    z-index: 1;
    margin-top: 22px;
}

.section_tittle p {
    color: #ea5267;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 500;
    line-height: 14px;
}

.portfolio_part .grid-item {
    position: relative;
    z-index: 1;
    text-align: center;
}

.portfolio_part .grid-item:after {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #ea5267;
    content: "";
    opacity: 0;
    z-index: 2;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}