
header  {
    height: 100%;
    background-image: url("/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

#nav-content {
    margin-left: 100px;
}

.nav-item {
    margin-right: 10px;
}

.myicon {
    margin-right: 10px;
}


.banner_part .banner_text {
    display: table;
    width: 100%;
    height: 975px;
    padding-top: 40px;
}

/* line 48, /Applications/MAMP/htdocs/palash/cl/july 2019/july/195 Resume/195 resume html/sass/_banner.scss */
.banner_part .banner_text .banner_text_iner {
    display: table-cell;
    vertical-align: middle;
    padding-bottom: 100px;
}


.banner_text h5 {
    font-size: 30px;
    color: #fff3cd;
}

.banner_text h1{
    font-size: 80px;
    color: #fff3cd;
}

.contain-arrow {
    margin-top: 65%;
    margin-left: -100px;
}

.round {
    position: relative;
    border: 3px solid #fff;
    width: 100px;
    height: 100px;
    border-radius: 100%;
}

.arrow {
    z-index: 999;
    height: 3px;
    margin:1px;
    width: 30px;
    background: #fff;
    transition: 0.4s ease;
}

.arrow:first-child {
    display: block;
    position: absolute;
    transform: rotate(45deg);
    left: 25%;
    bottom: 35%;
}

.arrow:nth-child(2) {
    display: block;
    position: absolute;
    transform: rotate(-45deg);
    left: 45%;
    bottom: 35%;
}

.arrow:nth-child(3) {
    display: block;
    position: absolute;
    transform: rotate(45deg);
    left: 25%;
    bottom: 54%;
}

.arrow:nth-child(4) {
    display: block;
    position: absolute;
    transform: rotate(-45deg);
    left: 45%;
    bottom: 54%;
}

.round:hover .arrow:nth-child(1) {
    transform: rotate(-135deg);
}

.round:hover .arrow:nth-child(2) {
    transform: rotate(135deg);
}

.round:hover .arrow:nth-child(3) {
    transform: rotate(225deg);
}

.round:hover .arrow:nth-child(4) {
    transform: rotate(-225deg);
}

.about_part {
    height: 700px;
}

.about_text {
    margin-top: 150px;
}

.skillset {
    height: 40px;
}

.portfolio_part {
    padding-top: 100px;
    background-color: lightcyan;
}

.section_tittle h2 {
    font-size: 36px;
    color: #0a0b4d;
    line-height: 48px;
    font-weight: 400;
    position: relative;
    z-index: 1;
    margin-top: 22px;
}

.section_tittle p {
    color: #ea5267;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 500;
    line-height: 14px;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 5vw);
    grid-gap:0rem;
}

.gallery__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.gallery__item--1{
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 4;
}

.gallery__item--2{
    grid-column-start: 4;
    grid-column-end: 9;
    grid-row-start: 1;
    grid-row-end: 8;
}

.gallery__item--3 {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 4;
    grid-row-end: 8;
}

.footer_Part {
    padding-top: 100px;
    padding-bottom: 100px;
}

.footer_Part .footer_text {
    margin-bottom: 70px;
}

.form-margin {
    margin-bottom: 5px;
}

.footer_Part .footer_text span {
    color: #ea5267;
    text-transform: uppercase;
    margin-bottom: 14px;
    display: inline-block;
}

.footer_Part .footer_text h2 {
    font-size: 36px;
}

.footer_Part .footer_btn {
    text-align: right;
}

.footer_Part .footer_menu a {
    margin-right: 15px;
}

.projects-head {
    height: 400px;
}

/* line 2, /Applications/MAMP/htdocs/palash/cl/july 2019/july/195 Resume/195 resume html/sass/_breadcrumb.scss */
.breadcrumb {
    position: relative;
    z-index: 1;
    padding: 0;
    background-color: darkslategray;
}

/* line 7, /Applications/MAMP/htdocs/palash/cl/july 2019/july/195 Resume/195 resume html/sass/_breadcrumb.scss */
.breadcrumb:after {
    width: 100%;
    height: 100%;
    position: absolute;
    content: "";
    left: 0;
    background-size: contain;
    top: 0;
    z-index: -1;
}

/* line 19, /Applications/MAMP/htdocs/palash/cl/july 2019/july/195 Resume/195 resume html/sass/_breadcrumb.scss */
.breadcrumb:before {
    width: 100%;
    height: 100%;
    position: absolute;
    content: "";
    left: 0;
    background-size: contain;
    top: 0;
    z-index: -1;
}

.breadcrumb .breadcrumb_iner {
    height: 450px;
    width: 100%;
    display: table;
}

.breadcrumb .breadcrumb_iner .breadcrumb_iner_item {
    display: table-cell;
    vertical-align: middle;
}

.breadcrumb .breadcrumb_iner .breadcrumb_iner_item h2 {
    color: #fff;
    font-size: 80px;
    font-weight: 500;
    margin-bottom: 10px;
    text-transform: capitalize;
}

.sample-text-area {
    background: #fff;
    padding: 100px 0 70px 0;
}

.sample-text-area p {
    color: #000;
}

.text-heading {
    margin-bottom: 30px;
    font-size: 24px;
}

.section-top-border {
    padding: 50px 0;
    border-top: 1px dotted #eee;
}

.mb-30 {
    margin-bottom: 30px;
}


.ml{
   padding-bottom: 100px;
}


.ml_context {
    margin-top: 60px;
}



.btn-grp {
    width: 80px;
}